@page
@using VerifyIdentityAspFrontend.Pages
@model ProfileModel
@{
    ViewData["Title"] = "Verify";

}
<h3>Push the button to verify your identity!</h3>
<p>@Model.Message</p>
<p>SessionId: @Model.SessionId</p>

@if (Model.IsVerified)
{
    <p class="text-green-600 font-semibold">✅ You are verified!</p>
}
else
{
    <p class="text-red-600">❌ You are not verified yet.</p>
}

<div class="" style="width:280px; height:280px; margin:15px 0;">
    @if (!string.IsNullOrEmpty(Model.QrCodeImageBase64))
    {
        <img src="data:image/png;base64,@Model.QrCodeImageBase64" alt="QR Code" style="border: 1px solid grey;" />
    }
    <form method="post">
        <button type="submit" asp-page-handler="Verify">Verify</button>
    </form>
</div>
@section Scripts {
    <script>
        // Refresh every 3 seconds if not verified
        const isVerified = @Model.IsVerified.ToString().ToLower();
        if (!isVerified) {
            setTimeout(() => {
                window.location.reload();
            }, 3000); // 3 seconds
        }
    </script>
}
