@page
@using VerifyIdentityAspFrontend.Pages
@model ProfileModel
@{
    ViewData["Title"] = "Verify";
}
<h3>Push the button to verify your identity!</h3>
<p>@Model.Message</p>
<p>SessionId: @Model.SessionId</p>
<p>SessionId: @Model.UserEmail</p>
<p>SessionId: @Model.UserSessionId</p>

<div class="" style="width:280px; height:280px; margin:15px 0;">

@if(!string.IsNullOrEmpty(Model.QrCodeImageBase64)){
    <img src="data:image/png;base64,@Model.QrCodeImageBase64" alt="QR Code" style="border: 1px solid grey;"/>
}
    <form method="post">

        <button type="submit" asp-page-handler="Verify">Verify</button>
    </form>
</div>
